<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password reset</title>
  </head>
  <body>
    <h1>Come on, {{name}}!</h1>
    <p>We have been asked to reset your account password.</p>
    <p>
      <a href="{{resetLink}}" target="_blank"
        >Click here to set a new password</a
      >
    </p>
    <p>The link is valid for 15 minutes.</p>
    <p>If you did not send this request, simply ignore the message.</p>
  </body>
</html>
